@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  
}
body{
  background: #a6dafd;
  
}

#menu{
  color: #fff;
  font-weight: 600;
}

#menu-head{
  background-color: rgb(0, 45, 128); 
}

#menu h1{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

/* DISPLAY */
#display-p1, #display-p2{
  font-family: Poppins, sans-serif;
  margin-bottom: 30px;  
  background-color:rgb(92, 92, 92);  
}

#display-p1.active, #display-p2.active{
  background-color:rgb(246, 226, 46);  
}

#display-p1{
  border-radius: 15px 5px;  
}

#display-p2{
  border-radius: 5px 15px;  
}

#display--score1{
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

#display--score2{
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

#display--p1{
  text-transform: uppercase;
  background-color: black;
  display: inline-block;
  padding: 8px 30px 8px 10px;
  border-radius: 6px;
  font-size: 15px;
  width: 100%;
  margin-right: 10px;
  text-align: left;  
}

#display--p2{
  text-transform: uppercase;
  background-color: black;
  display: inline-block;
  padding: 8px 10px 8px 30px;
  border-radius: 6px;
  font-size: 15px;
  width: 100%;
  margin-left: 10px;
  text-align: right;  
}
#display--points-p1{
  position: absolute;
  right: 10px;  
  background-color: gray;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

#display--points-p2{
  position: absolute;
  left: 10px;  
  background-color: gray;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
}

#display--badges1, #display--badges2{  
  height: 40px;
  padding: 0 10px;
}

#display--info1{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
}

#display--info2{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 0 5px;
}

.avatar-charmander,
.avatar-bulbasaur,
.avatar-squirtle{
  height: 70%;
  background-image: url("../img/chars.png");
  background-size: cover;
}

.avatar-squirtle{  
  width: 60px;
  background-position: 0px 10px;
}

.avatar-bulbasaur{
  width: 62px;  
  background-position: -61px 0px;
}

.avatar-charmander{
  width: 75px;
  background-position: 75px 0px;
}



#jugadas{
  float: right;
}

#nuevo{
  float: right;
  margin-top: 10px;
}

#tablero{
  opacity: 0;
}

#tablero .row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;  
}

.carta{
  position: relative;
  padding: 0;    
}

.carta img{
  border-radius: 10px;
  border: 2px solid #dedede;  
  width: 100%;
  cursor: pointer;
}

.carta .frente{
  transform: rotateY(450deg);
  position: absolute;
  transition: transform 0.1s;
  
}


.girada .frente {
  transform: rotateY(0deg);
  transition: transform 0.1s;
  /*position: relative;    
  transform-style: preserve-3d;*/
}

 
 
  